.cart {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  justify-content: space-between;
}

.shopping_cart,
.saved_cart {
  flex: 1 1 0%;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.saved_cart {
  margin: 20px 0;
  padding: 20px 16px;
}

.cart-content {
  margin-bottom: 20px;
  padding: 20px 0;
  overflow: auto;
}

.cartui {
  padding: 0 20px;
  position: relative;
}

img {
  max-width: 100%;
  border: none;
  vertical-align: top;
}

.cart_emptyImg {
  margin-right: 2%;
  float: left;
  min-height: 1px;
  overflow: visible;
  width: 31.948%;
}

.auth_link {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}

.auth_signin,
.auth_signup,
button {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d5d9d9;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
}

.auth_link .auth_signin {
  padding: 4px 10px;
  border-radius: 8px;
  background-color: #ffd814;
  border-color: #ffd814;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

.auth_link .auth_signup {
  padding: 4px 10px;
  border-radius: 8px;
  @apply ml-2;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

.cart_subtotal {
  width: 288px;
  height: fit-content;
  border-radius: 8px;
  background-color: #fff;
  margin-left: 16px;
  padding: 15px 20px 20px;
  font-size: 12px;
}

.cart_subtotal h1 {
  font-weight: 600;
  font-size: 18px;
}

.cart_subtotal button {
  background-color: #ffd814;
  width: 100%;
  font-size: 14px;
  padding: 5px 0;
  margin-top: 12px;
  border-radius: 8px;
}

.cart_subtotal button:hover {
  background-color: #f7ca00;
}

.cart_item {
  display: flex;
  justify-content: space-between;
}

.cart_product {
  display: flex;
  justify-content: flex-start;
}

.cart_product img {
  @apply w-28 h-28 object-contain mr-2 pointer-events-none;
}

.cart_info {
  display: flex;
  flex-direction: column;
}

.cart_quantity {
  width: 26px;
  height: 26px;
  padding-top: 3px;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
}

.cart_itemAction {
  display: flex;
  margin-top: 8px;
}

.saved_cart .title {
  font-size: 24px;
  font-weight: 700;
}

.saved_cart .cart_tabs {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-bottom: 20px;
}

.cart_tabs li {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 2rem;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.25rem;
  color: #007185;
  line-height: 2;
  --tab-padding: 1rem;
  padding-left: var(--tab-padding, 1rem);
  padding-right: var(--tab-padding, 1rem);
  transition: all 0.3s ease;
}

.cart_tabs .tab-bordered {
  border-color: hsl(220 13% 69% / var(--tw-border-opacity));
  --tw-border-opacity: 0.2;
  border-style: solid;
  border-bottom-width: calc(var(--tab-border, 1px) + 1px);
}

.cart_tabs .tab-active {
  border-color: #f7ca00;
  color: #000;
  font-weight: 700;
  transition: all 0.3s ease;
}
