.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.home__container {
  background-color: #eaeded;
}
.home__products {
  position: relative;
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.home__banner {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
}

.home__hero {
  max-height: 230px;
  height: 300px;
}

.home__hero::before {
  background: linear-gradient(-180deg, rgba(234, 237, 237, 0), #eaeded);
  bottom: 0;
  content: "";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00EAEDED', endColorstr='#EAEDED', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00EAEDED', endColorstr='#EAEDED',GradientType=0)";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 250px;
  z-index: 1;
}
